
@media screen and (min-width: 768px)  {
    body {
        background-image: linear-gradient(to bottom, rgb(48, 192, 236), rgb(13, 21, 128));
    }
    section#login {
        width: 80vw;
        width: 730px;
    }
    #imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center;
    }
    #formulario {
        
       width: 100vw;

    }
   #formulario {
    width: 100vw;
    
}
}
@media screen and (min-width: 992px){
    section#login{
        float: right;
        width: 950px;
    }
    #formulario > p{
        width: 100vw;
    }
}
